<p>
  <strong>Titulo:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Texto:</strong>
  <%= @article.text %>
</p>

<h2>Comentarios</h2>
<%= render @article.comments %>

<h2>Adicione um comentario:</h2>
<%=
  form_with(
    model: [ @article, @article.comments.build ],
    local: true
  ) do |form|
%>
  <p>
    <%= form.label :commenter, 'Autor' %><br>
    <%= form.text_field :commenter %>
  </p>

  <p>
    <%= form.label :body, 'Comentario' %><br>
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Editar', edit_article_path(@article) %>
<%= link_to 'Voltar', articles_path %>